footer {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  opacity: 0.3;
  margin: auto auto 0;
  .attribution {
    color: black !important;
    font-size: 13px;
    a {
      i {
        .fa {
          color: orange;
          font-size: 20px;
        }
      }
    }
  }
}
